ENVIRONMENT="DEVELOPMENT"
LOG_LEVEL="debug"
SERVER_PORT="8080"
GOMAXPROCS=2
DATABASE_URL="postgresql://postgres:postgres@database:5432/reminders_dev?sslmode=disable"
JWT_SECRET="super-secret"
SALT="super-salt"
ACCESS_TOKEN_DURATION_MINS="15m"
REFRESH_TOKEN_DURATION_MINS="60m"
